<%= title "Welcome back, you barbarian.", :h2 %>
<% form_tag session_path do %>

<div class="row half">
  <%= label_tag 'login', 'Username' %>
  <%= text_field_tag 'login', @login %>
</div>
<div class="row half">
  <%= label_tag 'password' %>
  <%= password_field_tag 'password', nil %>
</div>
<div class="row half">
  <label>
    <%= check_box_tag 'remember_me', '1', @remember_me %>
    Remember me
  </label>
</div>

<div class="clear"></div>

<div class="buttons clear">
  <%= submit_tag 'Login' %>
  <%= link_to 'Forgotten Password', forgot_password_path %>
</div>
<% end -%>
