<% @user.password = @user.password_confirmation = nil %>
<%= title "It's serendipity that you found us, Sign-up here!", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>

			<div class="row half">
				<%= f.label :login, 'Username' %>
				<%= f.text_field :login %>
			</div>
			<div class="row half">
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			<div class="row half">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			<div class="row half">
				<%= f.label :password_confirmation, 'Confirm Password' %>
				<%= f.password_field :password_confirmation %>
			</div>
			
			<div class="clear"></div>

	<div class="buttons">
		<%= submit_tag 'Sign-up' %>
	</div>
<% end %>
