%body
  = tag_it
  #container
    #banner
    .clear
    #main
      -#= render :partial => 'layouts/header'
      = render :partial => 'layouts/content'
    = render :partial => 'layouts/footer' 
    .clear
      
  = track_it
  = render :partial => 'layouts/disqus_script'
  = render :partial => 'layouts/loading'
