%body
  = tag_it
  #container
    %img{:src => '/images/marina.png', :class => 'png', :style=>'margin-top: 50px;'}
    .clear
    #main
      = render :partial => 'layouts/header'
      = render :partial => 'layouts/content'
      #disqus
        = render :partial => 'layouts/disqus_thread'
        = render :partial => 'layouts/disqus_widget'
    = render :partial => 'layouts/footer' 
    .clear
      
  = track_it
  = render :partial => 'layouts/disqus_script'
