%body
  #container
    %img{:src => '/images/marina.png', :class => 'png', :style=>'margin-top: 50px;'}
    .clear
    #adsense
      = render :partial => 'layouts/adsense' 
    #main
      = render :partial => 'layouts/header' 
      = render :partial => 'layouts/content' 
      = render :partial => 'layouts/footer' 
    .clear
      
  = render :partial => 'layouts/analytics' 
