%body
  = tag_it
  #container
    #spacer_for_nav
    -#%img{:src => '/images/marina.png', :class => 'png'}
    .clear
    #main
      = render :partial => 'layouts/header'
      = render :partial => 'layouts/content'
    = render :partial => 'layouts/footer' 
    .clear
      
  = track_it
  = render :partial => 'layouts/disqus_script'
